html,
body {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    line-height: 1.1;
    padding: 2rem;
    margin: 0;
    font-size: 1rem;
    color: rgb(173, 144, 109);
    background: rgb(37, 30, 26);
}

.amber {
    color: #ffc115;
    filter: blur(0.022rem);
    text-shadow: #ffb115b2 1px 0px 2px,
    #ffb11548 0px 0px 20px,
        #0d00ff3e -3px 0px 1px,
        #ff00002a 3px 2px 3px;
}

.amber-low {
    color: #ffc252d9;
    filter: blur(0.018rem);
    text-shadow: #ffb1152b 1px 0px 2px,
        #ffb1153d 0px 0px 20px,
        #0d00ff33 -3px 0px 1px,
        #ff00001e 3px 2px 3px;
}

.hud {
    display: inline-flex;
}

.hud-item {
    margin: 0 2rem;
}

#health {
    color: rgb(255, 107, 53);
    letter-spacing: 0.1rem;
}

#cash{
    color:#b6ff56;
}